.days-left-widget {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;

  .num-days {
    color: rgba(255, 255, 255, .7);
    font-size: 80px;
    font-weight: bold;
  }

  .text {
    font-size: 32px;
  }

  .strong-container {
    height: 84px;
  }

  @keyframes oscillating-arm {
    0% { left: 15%; }
    49% { transform: scaleX(1); }
    50% { left: 60%; transform: scaleX(-1); }
    99% { transform: scaleX(-1); }
    100% { left: 15%; transform: scaleX(1); }
  }

  .strong {
    position: absolute;
    animation-name: oscillating-arm;
    animation-duration: 4s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    font-size: 80px;
  }
}
