// ----------------------------------------------------------------------------
// Sass declarations
// ----------------------------------------------------------------------------
$background-color:  #9c4274;

$title-color:       rgba(255, 255, 255, .7);
$more-info-color:   rgba(255, 255, 255, .3);
$updated-at-color:  rgba(0, 0, 0, .3);

$meter-background:  darken($background-color, 15%);
$meter-color:       #fff;


// ----------------------------------------------------------------------------
// Widget-meter styles
// ----------------------------------------------------------------------------
.widget-meter {

  background-color: $background-color;

  input {
    &.meter {
      background-color: $meter-background;
      color: $meter-color;
    }
  }

  .title {
    color: $title-color;
  }

  .more-info {
    color: $more-info-color;
  }

  .updated-at {
    color: $updated-at-color;
  }

}

