@import 'styles/widgets/image';

$background-color: #222;
$text-color: #fff;

body {
  margin: 0;
  background-color: $background-color;
  color: $text-color;
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 20px;
}

.card {
  height: 250px;
}
