@import 'styles/widgets/image';
@import 'styles/widgets/clock';
@import 'styles/widgets/daysSince';
@import 'styles/widgets/daysLeft';

$background-color: #222;
$text-color: #fff;

body {
  margin: 0;
  background-color: $background-color;
  color: $text-color;
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 20px;
}

h1 {
  text-align: center;
}
