@import '~jquery.gridster.css';
@import '~font-awesome/css/font-awesome.css';

// ----------------------------------------------------------------------------
// Sass declarations
// ----------------------------------------------------------------------------
$background-color: #222;
$text-color: #fff;

$background-warning-color-1: #eeae32;
$background-warning-color-2: #ff9618;
$text-warning-color: #fff;

$background-danger-color-1: #e82711;
$background-danger-color-2: #9b2d23;
$text-danger-color: #fff;

// sass-lint:disable no-vendor-prefixes
@-webkit-keyframes status-warning-background {
  0%   { background-color: $background-warning-color-1; }
  50%  { background-color: $background-warning-color-2; }
  100% { background-color: $background-warning-color-1; }
}
@-webkit-keyframes status-danger-background {
  0%   { background-color: $background-danger-color-1; }
  50%  { background-color: $background-danger-color-2; }
  100% { background-color: $background-danger-color-1; }
}
@mixin animation($animation-name, $duration, $function, $animation-iteration-count: '') {
  -webkit-animation:  $animation-name $duration $function #{$animation-iteration-count};
  -moz-animation:     $animation-name $duration $function #{$animation-iteration-count};
  -ms-animation:      $animation-name $duration $function #{$animation-iteration-count};
}
// sass-lint:enable no-vendor-prefixes

// ----------------------------------------------------------------------------
// Base styles
// ----------------------------------------------------------------------------
html {
  // sass-lint:disable-block no-vendor-prefixes
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

body {
  margin: 0;
  background-color: $background-color;
  color: $text-color;
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 20px;
}

b,
strong {
  font-weight: bold;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  border: 0;
  vertical-align: middle;
  -ms-interpolation-mode: bicubic;  // sass-lint:disable-line no-vendor-prefixes
}

img,
object {
  max-width: 100%;
}

iframe {
  max-width: 100%;
}

table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}

td {
  vertical-align: middle;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
p {
  margin: 0;
  padding: 0;
}

h1 {
  margin-bottom: 12px;
  text-align: center;
  font-size: 30px;
  font-weight: 400;
}

h2 {
  text-transform: uppercase;
  color: $text-color;
  font-size: 76px;
  font-weight: 700;
}

h3 {
  color: $text-color;
  font-size: 25px;
  font-weight: 600;
}

// ----------------------------------------------------------------------------
// Base widget styles
// ----------------------------------------------------------------------------
.gridster {
  margin: 0 auto;

  ul {
    list-style: none;
  }
}

.icon-background {
  position: absolute;
  top: 0;
  left: 0;
  opacity: .1;
  margin-top: 82px;
  width: 100% !important;   // sass-lint:disable-line no-important
  height: 100%;
  text-align: center;
  font-size: 275px;
}

.list-nostyle {
  list-style: none;
}

.gs-w {
  display: table;
  cursor: pointer;
  width: 100%;
}

.widget {
  display: table-cell;
  padding: 12px;
  width: 100%;
  vertical-align: middle;
  text-align: center;
  box-sizing: border-box;

  .status-warning {
    @include animation(status-warning-background, 2s, ease, infinite);

    background-color: $background-warning-color-1;

    .icon-warning-sign {
      display: inline-block;
    }

    .title,
    .more-info {
      color: $text-warning-color;
    }
  }

  .status-danger {
    @include animation(status-danger-background, 2s, ease, infinite);

    background-color: $background-danger-color-1;
    color: $text-danger-color;

    .icon-warning-sign {
      display: inline-block;
    }

    .title,
    .more-info {
      color: $text-danger-color;
    }
  }
}

.more-info {
  position: absolute;
  right: 0;
  bottom: 32px;
  left: 0;
  font-size: 15px;
}

.updated-at {
  position: absolute;
  right: 0;
  bottom: 12px;
  left: 0;
  font-size: 15px;
}

#container {          // sass-lint:disable-line no-ids
  padding-top: 5px;
}

// ----------------------------------------------------------------------------
// Clearfix
// ----------------------------------------------------------------------------
.clearfix {
  zoom: 1;

  ::before,
  ::after {
    display: block;
    height: 0;
    overflow: hidden;
    content: '\0020';
  }

  ::after { clear: both; }
}
