// ----------------------------------------------------------------------------
// Sass declarations
// ----------------------------------------------------------------------------
$background-color:  #ec663c;


// ----------------------------------------------------------------------------
// Widget-image styles
// ----------------------------------------------------------------------------
.widget-image {

  background-color: $background-color;
  background-position: center;
  background-size: cover;

}

.widget-image-contain {

  @extend .widget-image;        // sass-lint:disable-line placeholder-in-extend
  background-repeat: no-repeat;
  background-size: contain;

}
