// ----------------------------------------------------------------------------
// Sass declarations
// ----------------------------------------------------------------------------
$background-color:  #dc5945;

$title-color:       rgba(255, 255, 255, .7);
$more-info-color:   rgba(255, 255, 255, .3);
$tick-color:        rgba(0, 0, 0, .4);


// ----------------------------------------------------------------------------
// Widget-graph styles
// ----------------------------------------------------------------------------
.widget-graph {

  position: relative;
  background-color: $background-color;

  svg {
    position: absolute;
    top: 0;
    left: 0;
    opacity: .4;
    fill-opacity: .4;
  }

  .title,
  .value {
    position: relative;
    z-index: 99;
  }

  .title {
    color: $title-color;
  }

  .more-info {
    margin-top: 0;
    color: $more-info-color;
    font-size: 20px;
    font-weight: 600;
  }

  .x_tick {               // sass-lint:disable-line class-name-format
    position: absolute;
    bottom: 0;

    .title {
      opacity: .5;
      padding-bottom: 3px;
      color: $tick-color;
      font-size: 20px;
    }
  }

  .y_ticks {               // sass-lint:disable-line class-name-format
    font-size: 20px;
    fill: $tick-color;
    fill-opacity: 1;
  }

  .domain {
    display: none;
  }

}
