// ----------------------------------------------------------------------------
// Sass declarations
// ----------------------------------------------------------------------------
$background-color:  #ec663c;

$title-color:       rgba(255, 255, 255, .7);


// ----------------------------------------------------------------------------
// Widget-text styles
// ----------------------------------------------------------------------------
.widget-countdown {

  background-color: $background-color;

  .title {
    margin: 10px 0;
    color: $title-color;
    font-size: 52px;
    font-weight: bold;
  }

  .stats-container {
    display: flex;
    justify-content: center;
    width: 100%;
  }

  .value {
    flex: 1;
    margin-right: 5px;
    text-align: right;
  }

  .descriptor {
    flex: 1;
    margin-left: 5px;
    text-align: left;
  }

}
