
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta id="meta" name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="utf-8">
    <title>Babydash</title>
    <link rel="shortcut icon" href="https://firebasestorage.googleapis.com/v0/b/babydash-40fe2.appspot.com/o/favicon.ico?alt=media&token=b6270bf6-6ba3-4ba1-b6e7-e5f8a9ebf632">
  </head>
  <body>
    <div id="root" class="root"></div>
  </body>
</html>
